
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cart {
    padding: 0 10%;
    width: 100%;
    margin: 50px 0;
}

.cartItems {
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
}

.cartThing {
    display: flex;
    flex-flow: row nowrap;
}

.heading {
    background: #efefef;
    padding: 1% 2%;
}

.heading h1 {
    font-weight: 400;
}

.product {
  display: flex;
  margin: 1% 5% 1% 0;
}

.product img {
    width: 140px;
}

.image {
    display: flex;
    flex-flow: column nowrap;
    width: 140px;
}

.info h5, .info h6{
    display: flex;
    flex-flow: column nowrap;
    font-weight: 400;
    width: 280px;
    margin: 0 25px;
}

.description {
    color: #747474;
}

.price {
    color: #990000;
}

.empty {
    padding: 5%;
}

hr {
    border: 1px solid #efefef;
}