
nav {
    box-shadow: 0 0 1px #00000070;
    background: #213044;
}

ul {
    display: flex;
    flex-flow: nowrap row;
    list-style: none;
}

li {
    color: #fff;
    padding: 15px 0;
    margin: 0 25px;
}

a {
    text-decoration: none;
}